
<br>
<h3>SCHEME</h3>

<div class="container-fluid">

  
  
  <ul class="nav nav-tabs md-tabs" id="myTabMD" role="tablist">
    <li class="nav-item">
      <a class="nav-link active"  routerLink='/dashboard/scheme/cc'   id="home-tab-md" data-toggle="tab" href="#home-md" role="tab" aria-controls="home-md"
        aria-selected="true">CC</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"   routerLink='/dashboard/scheme/dds'  id="profile-tab-md" data-toggle="tab" href="#profile-md" role="tab" aria-controls="profile-md"
        aria-selected="false">DDS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink='/dashboard/scheme/default'    id="profile-tab-md" data-toggle="tab" href="#profile-md" role="tab" aria-controls="profile-md"
        aria-selected="false">Default</a>


    </li>


    <li class="nav-item">
        <a class="nav-link"   routerLink='/dashboard/scheme/fixed-and-misc'  id="profile-tab-md" data-toggle="tab" href="#profile-md" role="tab" aria-controls="profile-md"
          aria-selected="false">Fixed And Misc</a>
      </li>



    <li class="nav-item">
      <a class="nav-link"   routerLink='/dashboard/scheme/loan'   id="profile-tab-md" data-toggle="tab" href="#profile-md" role="tab" aria-controls="profile-md"
        aria-selected="false">Loan</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='/dashboard/scheme/recurring'   id="profile-tab-md" data-toggle="tab" href="#profile-md" role="tab" aria-controls="profile-md"
        aria-selected="false">Recurring</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"   routerLink='/dashboard/scheme/saving-and-current'  id="profile-tab-md" data-toggle="tab" href="#profile-md" role="tab" aria-controls="profile-md"
        aria-selected="false">Saving and Current</a>
    </li>
    
  

  </ul>
  
  <router-outlet></router-outlet> 

  </div> 
  
  