
<ul class="nav nav-tabs md-tabs" id="myTabMD" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" routerLink='/super-admin/staff/active' id="home-tab-md" data-toggle="tab" href="#home-md" role="tab" aria-controls="home-md"
        aria-selected="true">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"   routerLink='/super-admin/staff/in-active' id="profile-tab-md" data-toggle="tab" href="#profile-md" role="tab" aria-controls="profile-md"
        aria-selected="false">In-Active</a>
    </li>

  </ul>

 



